.detail {
  margin-bottom: 0.4rem;
}

.input {
  height: 22px;
  margin-right: 0.2rem;
}

.input:focus {
  outline: none;
  border: 2px solid #6db7ff;
}

.error {
  display: flex;
}

.errorMessage {
  color: #d93025;
  margin-left: 0.2rem;
}

/* grid styles */
.detail {
  display: grid;
  grid-template-columns: 10rem 12rem 2rem;
  grid-template-rows: 0fr 1fr;
  grid-template-areas:
    '. . .'
    '. error error';
}

.error {
  grid-area: error;
}

@media (max-width: 450px) {
  .detail {
    grid-template-columns: 12rem 2rem;
    grid-template-rows: 0fr 1.5rem 1fr;
    grid-template-areas:
      'label label label'
      'input input .'
      'error error error';
  }

  .label {
    grid-area: label;
  }

  .input {
    grid-area: input;
  }
}
